* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
}

:root {
  --bright-orange: #E38826;
  --dark-cyan: #006970;
  --very-dark-cyan: #004241;
  --transparent-white: #FFFFFF75;
  --very-light-gray: #F2F2F2;
  --white: #FFF;
}

body {
  background: var(--very-light-gray);
  padding: 5.5rem 1.5rem;
}

h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--very-light-gray);
  font-size: 2.5rem;
  margin-block: 1.875rem;
}

p {
  color: var(--transparent-white);
  font-size: 0.9375rem;
  margin-bottom: 1.875rem;
  line-height: 1.5625rem;
}

a {
  border: 2px solid var(--very-light-gray);
  font-size: 0.9375rem;
  padding: 0.75rem 2.5rem;
  border-radius: 1.5625rem;
  background: var(--very-light-gray);
}

section {
  padding: 3rem;
}

.sedans {
  background: var(--bright-orange);
  border-radius: 8px 8px 0 0;
}

.sedans a {
  color: var(--bright-orange);
}

.suvs {
  background: var(--dark-cyan);
}

.suvs a {
  color: var(--dark-cyan);
}

.luxury {
  background: var(--very-dark-cyan);
  border-radius: 0 0 8px 8px;
}

.luxury a {
  color: var(--very-dark-cyan);
}

@media(min-width: 920px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    max-width: 57.5rem;
  }

  p {
    margin-bottom: 5.25rem;
  }

  a:hover {
    background: transparent;
    color: var(--very-light-gray);
    transition: 0.2s;
  }

  .sedans {
    border-radius: 8px 0 0 8px;
  }

  .luxury {
    border-radius: 0 8px 8px 0;
  }
}